{% extends 'base.html' %}
{% load static %}
{% block title %}资产总表{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">

{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        资产总表
        <small>assets list</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">资产总表</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

        <div class="box">
        <div class="box-header">
          <h3 class="box-title">资产总表<small>serverlist</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table id="assets_table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>公司名</th>
                        <th>域名</th>
                        <th>ip</th>
                        <th>密码</th>
                        <th>区域</th>
                        <th>部署版本</th>
                        <th>pid</th>
                        <th>iswww</th>
                        <th>部署状态</th>
                        <th>部署方式</th>
                        <th>部署时间</th>
                        <th>操作</th>

                    </tr>
                </thead>
                <tbody>

                {% for asset in assets %}

                    <tr>
                        <td>{{ asset.id }}</td>
                        <td>{{ asset.company }}</td>
                        <td>{{ asset.domain }}</td>
                        <td id="ip">{{ asset.ip }}</td>
                        <td id="password">{{ asset.password }}</td>
                        <td>{{ asset.region }}</td>
                        <td>{{ asset.get_deployversion_display }}</td>
                        <td>{{ asset.pid }}</td>
                        <td>{{ asset.get_iswww_display }}</td>
                        <td>{{ asset.get_deploystatus_display }}</td>
                        <td>{{ asset.get_deploymodel_display }}</td>
                        <td>{{ asset.deploytime|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <div>
                                <button type="button" class="btn btn-info action" data-toggle="modal" data-target="#modal-info">部署</button>
                                <button type="button" class="btn btn-info webssh">ssh</button>
                            </div>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>公司名</th>
                        <th>域名</th>
                        <th>ip</th>
                        <th>密码</th>
                        <th>区域</th>
                        <th>部署版本</th>
                        <th>pid</th>
                        <th>iswww</th>
                        <th>部署状态</th>
                        <th>部署方式</th>
                        <th>部署时间</th>
                        <th>操作</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
        </div>
    <!-- /.col -->
      </div>
    <!-- /.row -->
    </section>


{% endblock %}

{% block script %}

<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>

$(function () {
        $('#assets_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });

</script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

<script>

$('.action').on('click',function(){
        var ip = $(this).closest('tr').find('#ip').text();
        var url = "/deploy/deploy";
        var title = '部署信息';
        $.ajax({url:url,
                type: 'POST',
                data: {"ip":ip},
                success:function(data){
                    var tag = $('<div style="height: 500px;overflow: auto;background-color: rgba(0, 0, 0, 0);"></div>').html(data.replace(/\n/g,"<br />"));
                    BootstrapDialog.show({title: title, message:tag[0]});
                    //alert(data[0])
                    console.log(data)
        }});
       return false;
    });

$('.webssh').on('click',function(){
        var ip = $(this).closest('tr').find('#ip').text();
        var password = $(this).closest('tr').find('#password').text();
        alert(ip)
        window.location.href=window.location.protocol+"//"+window.location.host+"/webssh"+"?ip="+ip+"&password="+password;

       return false;
    });
</script>

{% endblock %}
